/* Basscss Color Base */

body {
  color: var(--text);
  background-color:var(--bg);
}

a {
  color: var(--link);
}

pre,
code {
  background-color: var(--hint);
  border-radius: $border-radius;
}

hr {
  border: 0;
  border-bottom-style: solid;
  border-bottom-width: $border-width;
  border-bottom-color: $border-color;
}
