<footer class="center">
  <div class="avatar">
    {% cloudinary avatar /images/me.png alt="Ryan Nguyen" %}
  </div>
  <div class="measure">
    <small>
      <a target="_blank" class="no-underline" href="https://ryanntt.com/feed.xml">
        <span class="fa-stack fa-lg">
          <i class="fa fa-rss fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" class="no-underline" href="https://linkedin.com/in/ryanntt">
        <span class="fa-stack fa-lg">
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" class="no-underline" href="https://twitter.com/ryannguyentt">
        <span class="fa-stack fa-lg">
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" class="no-underline" href="https://dribbble.com/ryanntt">
        <span class="fa-stack fa-lg">
          <i class="fa fa-dribbble fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" class="no-underline" href="https://medium.com/@ryanntt">
        <span class="fa-stack fa-lg">
          <i class="fa fa-medium fa-stack-1x"></i>
        </span>
      </a>
    </small>
    <p class="copyright">
      © 2015-{{ site.time | date: '%Y' }} Ryan Nguyen
    </p>
  </div>

  <script>
    // This checks whether system dark mode is set
    let systemInitiatedDark = window.matchMedia("(prefers-color-scheme: dark)");
    // This checks for session storage telling to override the system preferences
    let theme = sessionStorage.getItem('theme');
  
    if (systemInitiatedDark.matches) {
      document.documentElement.setAttribute('data-theme', 'dark');
      document.getElementById("theme-toggle").checked = true;
      document.getElementById("theme-label").innerHTML = "🌙";
      console.log("Hello Dark");
    } else {
      document.documentElement.setAttribute('data-theme', 'light');
      document.getElementById("theme-toggle").checked = false;
      document.getElementById("theme-label").innerHTML = "☀️";
      console.log("Hello Light");
    }

    function prefersColorTest (systemInitiatedDark) {
      if (systemInitiatedDark.matches) {
        document.documentElement.setAttribute('data-theme', 'dark');
        document.getElementById("theme-toggle").checked = true;
        document.getElementById("theme-label").innerHTML = "🌙";
        // This clears the session storage
        sessionStorage.setItem('theme', '');
      } else {
        document.documentElement.setAttribute('data-theme', 'light');
        document.getElementById("theme-toggle").checked = false;
        document.getElementById("theme-label").innerHTML = "☀️";
        sessionStorage.setItem('theme', '');
      }
    }
    systemInitiatedDark.addListener(prefersColorTest);

    function modeSwitcher() {
    // It's important to check for overrides again
      let theme = sessionStorage.getItem('theme');
      
      // Checks if reader selected dark mode
      if (theme === "dark") {
        document.documentElement.setAttribute("data-theme", "light");
        sessionStorage.setItem('theme', 'light');
        document.getElementById("theme-toggle").checked = false;
        document.getElementById("theme-label").innerHTML = "☀️";
        // Checks if reader selected dark mode
      } else if ( theme === "light") {
        document.documentElement.setAttribute("data-theme", "dark");
        sessionStorage.setItem('theme', 'dark');
        document.getElementById("theme-toggle").checked = true;
        document.getElementById("theme-label").innerHTML = "🌙";
      } else if (systemInitiatedDark.matches) {
        document.documentElement.setAttribute("data-theme", "light");
        sessionStorage.setItem('theme', 'light');
        document.getElementById("theme-toggle").checked = false;
        document.getElementById("theme-label").innerHTML = "☀️";
      } else {
        document.documentElement.setAttribute("data-theme", "dark");
        sessionStorage.setItem('theme', 'dark');
        document.getElementById("theme-toggle").checked = true;
        document.getElementById("theme-label").innerHTML = "🌙";
      }
    }

    if (theme === "dark") {
      document.documentElement.setAttribute("data-theme", "dark");
      sessionStorage.setItem("theme", "dark");
      document.getElementById("theme-toggle").checked = true;
      document.getElementById("theme-label").innerHTML = "🌙";
    } else if (theme === "light") {
      document.documentElement.setAttribute('data-theme', 'light');
      sessionStorage.setItem('theme', 'light');
      document.getElementById("theme-toggle").checked = false;
      document.getElementById("theme-label").innerHTML = "☀️";
    }
  </script>
</footer>
