<footer class="center">
  <div class="measure">
    <small>
      <a target="_blank" class="no-underline" href="http://ryanntt.com/feed.xml">
        <span class="fa-stack fa-lg">
          <i class="fa fa-rss fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" class="no-underline" href="http://linkedin.com/in/ryanntt">
        <span class="fa-stack fa-lg">
          <i class="fa fa-linkedin fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" class="no-underline" href="http://twitter.com/ryannguyentt">
        <span class="fa-stack fa-lg">
          <i class="fa fa-twitter fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" class="no-underline" href="https://dribbble.com/ryanntt">
        <span class="fa-stack fa-lg">
          <i class="fa fa-dribbble fa-stack-1x"></i>
        </span>
      </a>
      <a target="_blank" class="no-underline" href="https://medium.com/@ryanntt">
        <span class="fa-stack fa-lg">
          <i class="fa fa-medium fa-stack-1x"></i>
        </span>
      </a>
    </small>
    <small style="display:block; margin: 0.2rem 0">
      © {{ site.time | date: '%Y' }} Ryan Nguyen
    </small>
  </div>
</footer>
