<footer class="center">
  <div class="avatar">
    {% cloudinary avatar /images/me.png alt="Ryan Nguyen" %}
  </div>
  <div class="measure">
    <div class="icons">
      <a target="_blank" class="no-underline" href="https://ryanntt.com/feed.xml">
        <svg class="icon" width="24" height="24">
          <path d="M4 6.83V4c8.59 0 15.56 6.97 15.56 15.56h-2.83c0-7.03-5.7-12.73-12.73-12.73z"/>
          <path d="M4 12.49V9.66c5.47 0 9.9 4.43 9.9 9.9h-2.83c0-3.9-3.17-7.07-7.07-7.07zm4.36 5.33a2.18 2.18 0 11-4.36 0 2.18 2.18 0 014.36 0z"/>
        </svg>
      </a>
      <a target="_blank" class="no-underline" href="https://twitter.com/ryannguyentt">
        <svg class="icon" width="24" height="24">
          <path d="M7.91 20.889c8.302 0 12.845-6.885 12.845-12.845 0-.193 0-.387-.009-.58A9.195 9.195 0 0023 5.121a9.15 9.15 0 01-2.597.713 4.542 4.542 0 001.99-2.5 8.98 8.98 0 01-2.87 1.091A4.506 4.506 0 0016.23 3a4.52 4.52 0 00-4.516 4.516c0 .352.044.696.114 1.03a12.822 12.822 0 01-9.305-4.718 4.526 4.526 0 001.4 6.03 4.566 4.566 0 01-2.043-.563v.061a4.524 4.524 0 003.62 4.428 4.399 4.399 0 01-1.189.159 4.44 4.44 0 01-.845-.08 4.514 4.514 0 004.217 3.135 9.054 9.054 0 01-5.608 1.936A8.69 8.69 0 011 18.873a12.841 12.841 0 006.91 2.016z"/>
        </svg>
      </a>
      <a target="_blank" class="no-underline" href="https://dribbble.com/ryanntt">
        <svg class="icon" width="24" height="24">
          <path fill-rule="evenodd" clip-rule="evenodd" d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10c5.51 0 10-4.48 10-10S17.51 2 12 2zm6.605 4.61a8.502 8.502 0 011.93 5.314c-.281-.054-3.101-.629-5.943-.271-.065-.141-.12-.293-.184-.445a25.416 25.416 0 00-.564-1.236c3.145-1.28 4.577-3.124 4.761-3.362zM12 3.475c2.17 0 4.154.813 5.662 2.148-.152.216-1.443 1.941-4.48 3.08-1.399-2.57-2.95-4.675-3.189-5A8.687 8.687 0 0112 3.475zm-3.633.803a53.896 53.896 0 013.167 4.935c-3.992 1.063-7.517 1.04-7.896 1.04a8.581 8.581 0 014.729-5.975zM3.453 12.01v-.26c.37.01 4.512.065 8.775-1.215.25.477.477.965.694 1.453-.109.033-.228.065-.336.098-4.404 1.42-6.747 5.303-6.942 5.629a8.522 8.522 0 01-2.19-5.705zM12 20.547a8.482 8.482 0 01-5.239-1.8c.152-.315 1.888-3.656 6.703-5.337.022-.01.033-.01.054-.022a35.318 35.318 0 011.823 6.475 8.4 8.4 0 01-3.341.684zm4.761-1.465c-.086-.52-.542-3.015-1.659-6.084 2.679-.423 5.022.271 5.314.369a8.468 8.468 0 01-3.655 5.715z"/>
        </svg>
      </a>
      <a target="_blank" class="no-underline" href="https://wandrlens.com" style="font-size: 1.1em">🌄</a>
    </div>
    <p class="copyright">
      © 2015-{{ site.time | date: '%Y' }} Ryan Nguyen
    </p>
  </div>

  <script>
    // This checks whether system dark mode is set
    let systemInitiatedDark = window.matchMedia("(prefers-color-scheme: dark)");
    // This checks for session storage telling to override the system preferences
    let theme = sessionStorage.getItem('theme');
  
    if (systemInitiatedDark.matches) {
      document.documentElement.setAttribute('data-theme', 'dark');
      document.getElementById("theme-toggle").checked = true;
      document.getElementById("theme-label").innerHTML = "🌙";
      console.log("Hello Dark");
    } else {
      document.documentElement.setAttribute('data-theme', 'light');
      document.getElementById("theme-toggle").checked = false;
      document.getElementById("theme-label").innerHTML = "☀️";
      console.log("Hello Light");
    }

    function prefersColorTest (systemInitiatedDark) {
      if (systemInitiatedDark.matches) {
        document.documentElement.setAttribute('data-theme', 'dark');
        document.getElementById("theme-toggle").checked = true;
        document.getElementById("theme-label").innerHTML = "🌙";
        // This clears the session storage
        sessionStorage.setItem('theme', '');
      } else {
        document.documentElement.setAttribute('data-theme', 'light');
        document.getElementById("theme-toggle").checked = false;
        document.getElementById("theme-label").innerHTML = "☀️";
        sessionStorage.setItem('theme', '');
      }
    }
    systemInitiatedDark.addListener(prefersColorTest);

    function modeSwitcher() {
    // It's important to check for overrides again
      let theme = sessionStorage.getItem('theme');
      
      // Checks if reader selected dark mode
      if (theme === "dark") {
        document.documentElement.setAttribute("data-theme", "light");
        sessionStorage.setItem('theme', 'light');
        document.getElementById("theme-toggle").checked = false;
        document.getElementById("theme-label").innerHTML = "☀️";
        // Checks if reader selected dark mode
      } else if ( theme === "light") {
        document.documentElement.setAttribute("data-theme", "dark");
        sessionStorage.setItem('theme', 'dark');
        document.getElementById("theme-toggle").checked = true;
        document.getElementById("theme-label").innerHTML = "🌙";
      } else if (systemInitiatedDark.matches) {
        document.documentElement.setAttribute("data-theme", "light");
        sessionStorage.setItem('theme', 'light');
        document.getElementById("theme-toggle").checked = false;
        document.getElementById("theme-label").innerHTML = "☀️";
      } else {
        document.documentElement.setAttribute("data-theme", "dark");
        sessionStorage.setItem('theme', 'dark');
        document.getElementById("theme-toggle").checked = true;
        document.getElementById("theme-label").innerHTML = "🌙";
      }
    }

    if (theme === "dark") {
      document.documentElement.setAttribute("data-theme", "dark");
      sessionStorage.setItem("theme", "dark");
      document.getElementById("theme-toggle").checked = true;
      document.getElementById("theme-label").innerHTML = "🌙";
    } else if (theme === "light") {
      document.documentElement.setAttribute('data-theme', 'light');
      sessionStorage.setItem('theme', 'light');
      document.getElementById("theme-toggle").checked = false;
      document.getElementById("theme-label").innerHTML = "☀️";
    }
  </script>
</footer>
