{% if paginator.total_pages > 1 %}
  <div class="pagination clearfix mb1 mt4">
    <div class="right">
      {% if paginator.previous_page %}
        <a class="pagination-item link" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">Newer</a>
      {% else %}
        <span class="pagination-item disabled">Newer</span>
      {% endif %}
    </div>
    <div class="left">
      {% if paginator.next_page %}
        <a class="pagination-item link" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Older</a>
      {% else %}
        <span class="pagination-item disabled">Older</span>
      {% endif %}
    </div>
  </div>
{% endif %}