blockquote {
  font-style: italic;
  text-align: left;
  padding: $space-1;

  p {
    color: var(--headings)
  }
}

blockquote footer {
  background-color: #fff;
  border-color: transparent;
  color: #7a7a7a;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}

blockquote.highlighted {
  background-color: #163d6f;
  margin: 2em 0;
  padding: 2rem 1em;
  .label, p {
    font-style: normal;
    color: white;
  }

  @media screen and (max-width: $viewport-small) {
    padding: 1em;
  }
}