blockquote {
  // border-left: 5px solid #7a7a7a;
  font-style: italic;
  text-align: center;
  margin-left: $space-1;
  padding: $space-1;
}

blockquote footer {
  background-color: #fff;
  border-color: transparent;
  color: #7a7a7a;
  font-size: .85rem;
  font-style: normal;
  text-align: left;
  padding: 0;
}

blockquote.emphasis {
  background-color: #FAF3EA;
  margin: 2em 0;
  .label {
    font-style: normal;
    color: #994D17;
  }
  p {
    font-style: normal;
    color: #AE5E26;
  }
}