.site-title {
  padding-top: 4px;
}

.post-header {
  text-align: center;
  margin-bottom: 2em;
}

.post-header.project {
  display: flex;
  text-align: left;
}

.project-summary {
  max-width: 50%;
}
.project-meta {
  padding-top: 2em;
  max-width: 50%;
}

.project-summary {
  padding-right: 5%;
}

.project-meta span {
  display: inline-block;
  background: var(--bg-secondary); // try out highlight in blue for skills
  padding: 0.2em 0.6em;
  margin: 0.1em 0 0.2em 0;
  border-radius: 20px;
  color: var(--hint);
}

.projects .post .summary span:not(:last-of-type)::after {
  content: " · ";
}

.meta,
.post-meta {
  font-family: $font-family;
  font-size: 1rem;
  font-style: normal;
}

p, .p,.f4, dl, ol, ul { 
  font-size: 1rem; 
  line-height: $line-height;
}

.home .measure{
  & > h1, h2{
    color: var(--headings);
    font-family:$heading-font-family;
  }
  & > p {
    max-width: $text-width;
  }
}

.p2 {
  padding: 1rem 2rem;
}

.footer, .site-wrap:after {
 height: 60px;
}

.site-wrap {
 min-height: 100%;
}

.text-width {
  max-width: $text-width;
}

section {
  padding: 2em 0 2.5em 0;
}

footer {
  padding: 1rem 0 1.5rem 0;
}

.footer p2 {
 padding: 1rem 2rem;
}

table {
  border-collapse: collapse;
  padding: 0;
  width: 100%;
}

table th {
  text-align: left;
  border-top: 2px solid var(--bg-secondary);
  vertical-align: bottom;
  padding: 0 1em 1em 1em;
}

table td {
  border-top: 2px solid var(--bg-secondary);
  vertical-align: top;
  padding: 1em;
  text-align: left;
}

table > tbody > th:nth-child(1),
table > tbody > tr td:nth-child(1) {
  text-align: left;
  padding-left: 0;
}

ul {
  line-height: $line-height;
  max-width: $text-width;
  // width: $text-width;
  margin: 1em auto;
}

p, .p {
  font-weight: 400;
  line-height: $line-height;
  color: var(--text);
}

h1, h2, h3, h4, h5, h6 {
  color: var(--headings);
}


.avatar {
  display:block; 
  margin: 1.5em auto;
  width: 110px; 
  height: 110px;
  img {
    border: 1px solid var(--bg);
    border-radius:400px;
  }
}

.intro-text {
  display:block; 
  max-width: $text-width; 
}

.post-content {
  p, table {
    max-width: $text-width;
    margin: 1.6em auto;
  }
  h2 {
    text-align: left;
  }
  h3 {
    margin-top: $space-3;
  }
  // h3 {
  //   margin-top: $space-1+$space-2;
  // }
  h2,h3,h4,h5,h6 {
    max-width: $text-width;
    margin-left: auto;
    margin-right: auto
  }
  hr {
    max-width: $text-width;
  }
}

hr {
  border: none;
  text-align: center;
  height: 20px;
  width: 100%;
  &:before {
    content: '...';
    display: inline-block;
    color: var(--brand);
    position: relative;
    top: -30px;
    font-size: 2em;
    letter-spacing: .6em;
    left: 10px;
  }
}

.home hr {
  &:before {
    content: none;
  }
  width: 100px;
  margin: 3em 0;
}

.horizontal-bar {
  display: block;
  height: 4px;
  width: 70px;
  background:var(--brand);
}

.key-category {
  display: inline-block;
}

.home .posts .post{
  border-bottom: 0;
  &:not(:first-child) {
    padding-top: 1rem;
  }
  &:not(:last-child) {
    padding-bottom:0;  
  }
}

.my-video {
  height: 0;
  padding-top: 25px;
  padding-bottom: 67.5%;
  margin-bottom: 10px;
  position: relative;
  overflow: hidden;
}

.my-video.wide-screen {
  padding-bottom: 56.34%;
}

.my-video.vimeo {
  padding-top: 0
}

.my-video embed, .my-video iframe, .my-video object, .my-video video {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.blog .posts {
  max-width: $text-width;
}

.link .post-title {
  color: var(--text);
}

a.link:hover {
  text-decoration: underline;
}

.posts .post {
  margin-bottom: 0;
}

.post a.no-underline {
  background-image: none !important;
}

.button:focus {outline:0;}

#summary {
  max-width: $text-width;
  margin: 0 auto;
}

.button {
  display: block;
  margin-bottom: 1rem;
  padding: 0.6rem 1rem 0.8em;
  font-size: 0.9rem;
  background: var(--headings);
  color: var(--bg);
  border-radius: 2px;
  -webkit-transition: .8s cubic-bezier(.2,1,.2,1);
  -o-transition: .8s cubic-bezier(.2,1,.2,1);
  transition: .8s cubic-bezier(.2,1,.2,1);

  cursor: pointer;
  &:hover {
    background: var(--text);
  }
}

.more-posts {
  max-width: $measure-width;
  margin: 4em auto 1em auto;
  padding: 1em 0 1em 0;
  border-top: 1px dashed var(--hint);
  h3 {
    margin-bottom: 1.5rem;
  }
}

.more-posts .post {
  width: 48%;
  margin-left: 0;
  h4 {
    margin: 1em 0 0 0 
  }
  p {
    margin: 0.2em 0 1.5em 0;
    font-size: 0.9em;
    line-height: 1.3rem;
  }
  &:first-of-type .post-title:after{
    content: "★";
    color: #FF4848; 
    margin-left: 5px;
  }
}

small {
  margin: 0 0.2rem;
}

.full-width {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

@media screen and (max-width: $viewport-medium) {
  canvas {
    width: 100%;
  }
  .post-header.project {
    flex-direction: column;
  }
  .project-summary, .project-meta {
    max-width: 100%;
    padding-top: 0;
  }
}

@media screen and (max-width: $viewport-small) {
  html {
    font-size: 16px;
  }
  h1, .h1 {
    font-size: 1.4rem;
    line-height: 1.6;
  }
  h2, .h2 {
    font-size: 1.2rem;
  }
  h3, .h3 {
    font-size: 1.1rem;
  }

  .site-header {
    margin-bottom: 0;
    padding-bottom: 0;
  }

  .site-header a {
    font-size: $h4;
  }

  table,
  tbody {
    display: block;
    width: 100%;
  }

  thead {
    display: none;
  }  

  table > tbody > tr,
  table th,
  table > tbody > tr > td {
    display: block;
    text-align: left;
  }

  table tr {
    border-bottom: 1px solid #eee;
    margin-bottom: 1em;
  }

  table th[data-title]:before,
  table td[data-title]:before {
    content: attr(data-title) ":\00A0";
    font-weight: $bold-font-weight;
  }

  table > tbody > tr > td {
    border: none;
    empty-cells: hide;
    padding: 0.5em 0;
  }

  table > tbody > tr > td:empty {display: none;}

  table > tbody > tr > td:first-child {
    font-weight: $bold-font-weight;
    font-size: 1.1em;
  }

  table td:first-child:before { content: ''; }

  .more-posts {
    .post {
      width: 100%;
      margin-bottom: 0;
    }

    .btn-back {
      margin: auto;
    }
  }
  
  .button {
    margin-left: auto;
    margin-right: auto;
  }
}

footer a{
  color: var(--hint);

  &:hover {
    color: var(--text) !important; 
  }
}