.site-header {
  padding-top: $space-3;
  padding-bottom: $space-3;
  margin-bottom: 0; // prev $space-4
  z-index: 100;
}

.site-header a {
  color: var(--headings);
  font-size: $h4;
  font-weight: 400;
}

.site-header .site-title {
  font-family: $heading-font-family;
  font-size: $h4;
  color: var(--headings);
  font-weight:$bold-font-weight;
  img {
    max-height: 20px;
    border-radius: 0;
  }
}

.site-nav {
  margin-top: $space-2;
  margin-left: 0;
}

.site-header nav a {
  color: var(--headings);
}

.site-header nav a:hover,
.site-header nav a:focus,
.site-header nav a:active {
  color: white;
  background: var(--brand);
}

.site-nav a + a {
  margin-left: 1em;
}

.site-header a:hover,
.posts .post a:hover .post-meta,
.posts .post a:hover .post-title,
.posts .post a:hover .post-summary {
  opacity: 0.88;
}

.site-header {
  text-align: center;
}

.site-header .site-nav {
  text-align: center;
}
