a {
  color: $link-color;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  -o-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

a:not(.button):hover,
a:not(.button):focus,
a:not(.button):active {
  border: 0;
  color: $link-hover-color;
  text-decoration: none;
}


