// .wide {
//   .measure {
//     max-width:100%;
//   }
//   .site-header {
//     padding-bottom: 0;
//   }
// }
.list {
  display: flex;
  flex-flow: row wrap;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  margin:0
}

.list .post-entry {
  display: flex;
}

.list .wrap {
  position: relative;
  line-height: 0;
  overflow: hidden;
  -webkit-transition: .8s cubic-bezier(.2,1,.2,1);
  -o-transition: .8s cubic-bezier(.2,1,.2,1);
  transition: .8s cubic-bezier(.2,1,.2,1);
  &:hover {
    -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
    box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
  }
}

.trip .post-header {
  max-width: $text-width;
  margin: 0 auto;
  line-height: $heading-line-height;
  h1 {
    text-align: center;
  }
}

.highlight .trip .py3 {
  width: 100%;
}

.list .thumb {
  -moz-transition: all 2.3s;
  -webkit-transition: all 2.3s;
  transition: all 2.3s;
  &:hover {
    -moz-transform: scale(1.15);
    -webkit-transform: scale(1.15);
    transform: scale(1.15);
  }  
}

.list .img {
  width: 100%;
  padding-bottom: 66.77%;
  margin-top: -1em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: $viewport-medium) {
    height: 600px;
    padding-bottom: 0;
    background-attachment: fixed;
  }
}

.trip blockquote {
  margin: 0 auto;
}

.list .summary {
  width: 33.33%;
  text-align: left;
  padding-right: 1em;
}

.list .thumbnail {
  width: 66.67%;
}

.list .summary {
  p {
    color: $mid-gray;
  }
  .title {
    font-weight: $bold-font-weight;
    color: $darker-gray;
    margin-top: 0;
    margin-bottom: 0.25rem;
  }
}

.list p.meta{
  color: #EFEFEF;
}

.post-entry {
  padding-bottom: 0;
}

.post-entry:last-child {
  padding-bottom: 1.5rem;
}

html.projects {
  .posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

figcaption {
  max-width: $text-width;
  margin: 0 auto;
  margin-bottom: 2em;
  padding: 0.1em 0 0.5em 0;
  color: $mid-gray;
  text-align: center;
  font-size: 0.9em;
}

figure {
  text-align: center;
  margin: 0;
  margin-top: -7px; //hackish way to temporarily fix the different height of <figure> and <img>
}

.trip-content {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  // padding: 0 1em;
  // max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
  span {
    max-width: $text-width;
  }
  h4 {
    width: 100%;
    font-size: 1.8em;
    margin-bottom: 1em;
  }
  h2,h3,h4 {
    text-align: center;
  }
  p {
    max-width: $text-width;
    margin: 1em auto;
  }
  video {
    display: block;
    max-width: 100%;
    margin: 2em auto;
  }
  .img-small {
    width: 43.5%;
  }
}

.trip {
  .social-btns {
    max-width: 1000px;
    margin: 0 auto;
    padding: 1em 0;
  }
  .share-btn, #like-btn, #like-btn.in {
    margin-left: 1em;
  }
  .share-btn:first-child {
    margin-left: 0;
  }
}

.set {
  display: flex;
  flex-wrap: wrap;
  .set-item:first-child{
    margin-left: 0 !important;
  }
  .set-item:last-child {
    margin-right: 0 !important;
  }
}

@media screen and (max-width: $viewport-medium) {
  .trip .py3 {
    width: 100%;
  }
  .list .summary {
    width: 50%;
  }
  
  .list .thumbnail {
    width: 50%;
  }
}

@media screen and (max-width: $viewport-small){
  .list .img {
    padding-bottom: 50.77%;
    background-size: 150%;
  }
  .trip-content {
    .img-small {
      width: 100%;
    }
    figure, .video-container {
      width: 100% !important;
    }
  }
  .list .post-entry {
    flex-direction: column;
  }

  .list .summary, .list .thumbnail {
    width: 100%;
  }

  .list .summary {
    margin: $h5 0 $h4 0;
  }
}   