.list {
  display: flex;
  flex-flow: row wrap;
  -webkit-justify-content: space-between; /* Safari */
  justify-content:         space-between;
  margin:0
}

.list .wrap {
  position: relative;
  line-height: 0;
  overflow: hidden;
  -webkit-transition: .8s cubic-bezier(.2,1,.2,1);
  -o-transition: .8s cubic-bezier(.2,1,.2,1);
  transition: .8s cubic-bezier(.2,1,.2,1);
}

.list a:hover .warp{
  -webkit-box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
  box-shadow: 0 5px 10px 0 rgba(0,0,0,.15);
}

.list .thumb {
  -moz-transition: all 2.3s;
  -webkit-transition: all 2.3s;
  transition: all 2.3s;
  height: auto;
}

.list a:hover .thumb {
  -moz-transform: scale(1.15);
  -webkit-transform: scale(1.15);
  transform: scale(1.15);
}

.list .img {
  width: 100%;
  padding-bottom: 66.77%;
  margin-top: -1em;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-size: cover;
  @media screen and (min-width: $viewport-medium) {
    height: 600px;
    padding-bottom: 0;
    background-attachment: fixed;
  }
}

.list .summary {
  width: 33.33%;
  text-align: left;
  margin-right: 1em;
}

.list .thumbnail {
  width: 66.67%;
}

.list .summary {
  p {
    color: var(--hint);
    margin-bottom: 0.5em;
  }
  .title {
    font-weight: $bold-font-weight;
    color: var(--headings);
    margin-top: 0;
    margin-bottom: 0.25rem;
  }
}

.list p.meta{
  color: #EFEFEF;
}

figcaption p {
  margin: 0 auto;
  margin-bottom: 2em;
  text-align: left;
  font-size: 0.8em;
  border-bottom: 2px solid var(--bg-secondary);

  .post-content & {
    max-width: none;
    margin: 0 auto; // Overrides
  }
}

figure {
  text-align: center;
  margin: auto;
  //margin-top: -7px; //hackish way to temporarily fix the different height of <figure> and <img>
  img {
    height: auto;
  }
}

figure:not(.no-bg-color) img {
  background-color: white;
}

.set {
  display: flex;
  flex-wrap: wrap;
  .set-item:first-child{
    margin-left: 0 !important;
  }
  .set-item:last-child {
    margin-right: 0 !important;
  }
}


#shots {
  display: flex;
  flex-wrap: wrap;
  max-width: 650px;
  margin: auto;
  
  .shot {
    display: block;
    width: 100%;
    margin: 1rem 0;
    text-decoration: none;
  }
}    

@media screen and (max-width: $viewport-medium) {
  .list .summary {
    width: 50%;
  }
  
  .list .thumbnail {
    width: 50%;
  }
}

@media screen and (max-width: $viewport-small){
  .list .img {
    padding-bottom: 50.77%;
    background-size: 150%;
  }

  .list .summary, .list .thumbnail {
    width: 100%;
  }

  .list .summary {
    margin: $h5 0 $h4 0;
  }
}   