
.posts {
  margin: 0;
}

.posts .post {
  border-bottom: thin solid var(--bg-secondary);
}

.posts a:last-child .post {
  border-bottom: none;
}

.link .post-title {
  margin-top: 0;
  font-weight: $bold-font-weight;
  color: var(--headings);
  margin-bottom: $space-1;
}

.post-content {
  a {
    position: relative;
    text-decoration: none;
  }
  
  a::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--link);
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
  }
  
  a:hover::before {
    visibility: visible;
    transform: scaleX(1);
  }
}


.post-footer {
  @extend .italic;

  margin-top: .75rem;
  text-align: center;
}

.post-footer .avatar {
  margin: 2rem 0;
  width: 100px;
  border-radius: 50%;
}

.meta,
.post-meta {
  width: auto;
  font-weight: 400;
  margin: 0;
  padding: .25em 0;
  color: var(--hint);
  font-style: italic;
}

.related-post-title {
  border-bottom: thin solid #f3f3f3;
}

.posts .post {
  margin-left: -1rem;
  margin-right: -1rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-bottom: 1rem;
}

.posts .post:hover,
.posts .post:active,
.posts .post:focus {
  background-color: var(--bg-secondary);
}

.projects .post {
  display: flex;
}

.projects {
  .posts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

@media screen and (max-width: $viewport-small){
  .projects .post {
    flex-direction: column-reverse;
  }
}