.icon {
  fill: currentColor;
  display: inline-block;
  opacity: 0.8;

  a:hover & {
    opacity: 1;
  }  
}

.icons {
  display: inline-flex;
  align-items: center;
}

.icons a {
  display: inline-flex;
}

.icons a + a,
.icons .icon + .icon {
  margin-left: 1em;
}