<!DOCTYPE html>
<!-- #if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html AMP lang="en" class="fonts-loaded">
<!-- #else -->
<html AMP lang="en">
<!-- #endif -->

{% include head.html %}

<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
  <div class="site-wrap">
    {% include header.html %}

    <div class="post p2 p-responsive wrap" role="main" id="{{ page.date | date: '%Y-%m-%d' }}">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
  <script src="/js/fontfaceobserver.js"></script>

  <script>
    var read = false;

    (function( w ){
        // if the class is already set, we're good.
        if( w.document.documentElement.className.indexOf( "fonts-loaded" ) > -1 ){
            return;
        }
        var fontA = new w.FontFaceObserver( "Merriweather", {
            weight: 300
        });
        var fontB = new w.FontFaceObserver( "Lato", {
            weight: 900
        });
        w.Promise
            .all([fontA.check(), fontB.check()])
            .then(function(){
                w.document.documentElement.className += " fonts-loaded";
                console.log('All fonts are loaded');
            }, function () {
                console.log('Web font could not be loaded in time. Falling back to system fonts.');
            });
    }( this ));
  </script>

</body>
</html>
