<!DOCTYPE html>
<!-- #if expr="$HTTP_COOKIE=/fonts\-loaded\=true/" -->
<html lang="en" class="fonts-loaded {{ page.tag }}">
<!-- #else -->
<html lang="en" class="{{ page.tag }}">
<!-- #endif -->

{% include head.html %}

<body class="site{% if site.animated %} animated fade-in-down{% endif %}">
  <div class="site-wrap"></div>
    {% if page.tag != 'home' %}
        {% include header.html %}
    {% endif %}
    <div class="post px2 py2 wrap" role="main" id="{{ page.date | date: '%Y-%m-%d' }}">
      <div class="measure">
        {{ content }}
      </div>
    </div>
  </div>

  {% include footer.html %}
  <script src="/js/fontfaceobserver.js"></script>

  <script>
    var read = false;

    (function( w ){
        // if the class is already set, we're good.
        if( w.document.documentElement.className.indexOf( "fonts-loaded" ) > -1 ){
            return;
        }
        var fontA = new w.FontFaceObserver( "Merriweather", {
            weight: 300
        });
        var fontB = new w.FontFaceObserver( "Lato", {
            weight: 900
        });
        w.Promise
            .all([fontA.check(), fontB.check()])
            .then(function(){
                w.document.documentElement.className += " fonts-loaded";
                console.log('All fonts are loaded');
            }, function () {
                console.log('Web font could not be loaded in time. Falling back to system fonts.');
            });
    }( this ));
  </script>
  <script>
    // This checks whether system dark mode is set
    let systemInitiatedDark = window.matchMedia("(prefers-color-scheme: dark)");
    // This checks for session storage telling to override the system preferences
    let theme = sessionStorage.getItem('theme');
  
    if (systemInitiatedDark.matches) {
      document.documentElement.setAttribute('data-theme', 'dark');
      document.getElementById("theme-toggle").checked = true;
      document.getElementById("theme-label").innerHTML = "🌙";
      console.log("Hello Dark");
    } else {
      document.documentElement.setAttribute('data-theme', 'light');
      document.getElementById("theme-toggle").checked = false;
      document.getElementById("theme-label").innerHTML = "☀️";
      console.log("Hello Light");
    }

    function prefersColorTest (systemInitiatedDark) {
      if (systemInitiatedDark.matches) {
        document.documentElement.setAttribute('data-theme', 'dark');
        document.getElementById("theme-toggle").checked = true;
        document.getElementById("theme-label").innerHTML = "🌙";
        // This clears the session storage
        sessionStorage.setItem('theme', '');
      } else {
        document.documentElement.setAttribute('data-theme', 'light');
        document.getElementById("theme-toggle").checked = false;
        document.getElementById("theme-label").innerHTML = "☀️";
        sessionStorage.setItem('theme', '');
      }
    }
    systemInitiatedDark.addListener(prefersColorTest);

    function modeSwitcher() {
    // It's important to check for overrides again
      let theme = sessionStorage.getItem('theme');
      
      // Checks if reader selected dark mode
      if (theme === "dark") {
        document.documentElement.setAttribute("data-theme", "light");
        sessionStorage.setItem('theme', 'light');
        document.getElementById("theme-toggle").checked = false;
        document.getElementById("theme-label").innerHTML = "☀️";
        // Checks if reader selected dark mode
      } else if ( theme === "light") {
        document.documentElement.setAttribute("data-theme", "dark");
        sessionStorage.setItem('theme', 'dark');
        document.getElementById("theme-toggle").checked = true;
        document.getElementById("theme-label").innerHTML = "🌙";
      } else if (systemInitiatedDark.matches) {
        document.documentElement.setAttribute("data-theme", "light");
        sessionStorage.setItem('theme', 'light');
        document.getElementById("theme-toggle").checked = false;
        document.getElementById("theme-label").innerHTML = "☀️";
      } else {
        document.documentElement.setAttribute("data-theme", "dark");
        sessionStorage.setItem('theme', 'dark');
        document.getElementById("theme-toggle").checked = true;
        document.getElementById("theme-label").innerHTML = "🌙";
      }
    }

    if (theme === "dark") {
      document.documentElement.setAttribute("data-theme", "dark");
      sessionStorage.setItem("theme", "dark");
      document.getElementById("theme-toggle").checked = true;
      document.getElementById("theme-label").innerHTML = "🌙";
    } else if (theme === "light") {
      document.documentElement.setAttribute('data-theme', 'light');
      sessionStorage.setItem('theme', 'light');
      document.getElementById("theme-toggle").checked = false;
      document.getElementById("theme-label").innerHTML = "☀️";
    }
  </script>
</body>
</html>
