---
layout: default
---

{% assign current = page.url | downcase | split: '/' %}
{% assign minutes = content | strip_html | number_of_words | divided_by: 140 %}
{% if minutes == 0 %}
{% assign minutes = 1 %}
{% endif %}

{% if page.categories contains 'projects' %}
  <div class="post-header mb2 project">
{% else %}
  <div class="post-header mb2">
{% endif %}

  {% if page.categories contains 'projects' %}
    <div class="project-summary">
      <h1>{{ page.title }}</h1>
      <p>{{ page.summary }}</p>
    </div>
    <div class="project-meta">
      <h4>Role</h4>
      <p>{{ page.text }}</p>
      <h4>Year</h4>
      <p>{{ page.year }}</p>
    </div>
  {% endif %}

  {% if page.categories contains 'blog' %}
    <h1>{{ page.title }}</h1>
    <span class="post-meta">{{ page.date | date: "%b %Y" }}</span><br>
    {% if page.update_date %}
      <span class="post-meta">Updated: {{ page.update_date | date: site.date_format }}</span><br>
    {% endif %}
    <span class="post-meta small">
    {% if page.minutes %}
      {{ page.minutes }} minute read
    {% else %}
      {{ minutes }} minute read
    {% endif %}
    </span>
  {% endif %}
</div>


{% if page.categories contains 'projects' %}
<div class="spacer-block-2"></div>

<figure class="project-hero full-width" style="background: #{{ page.theme-color }}; ">
    <img src= {{ page.thumbnail }} >
</figure>

<div class="spacer-block-2"></div>
{% endif %}

{% if page.toc ==true %}
<main>
  <article class="post-content">
    {{ content }}
  </article>

  <nav class="section-nav-container">
    <h4 class="section-nav-title">In this page</h4>
    {% toc %}
  </nav>
</main>
{% else %}
<article class="post-content">
  {{ content }}
</article>
{% endif %}

{% if current[1] == 'blog' %}
  {% if site.disqus_shortname %}
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname  = '{{ site.disqus_shortname }}';
      var disqus_identifier = '{{ page.id }}';
      var disqus_title      = '{{ page.title }}';

      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
  {% endif %}
{% endif %}

{% if site.show_related_posts %}
  
  {% assign maxRelated = 2 %}
  {% assign maxRelatedCounter = 0 %}

  <section class="more-posts">
    <h3 class="title">Next read</h3>
    <div class="list">
      {% for post in site.posts %}
        {% for category in post.categories %}
          {% if post.url != page.url %}
            {% if page.categories contains category %}
              {% assign maxRelatedCounter = maxRelatedCounter | plus: 1 %}  
              <div class="post ml2">
                <a href="{{ post.url | prepend: site.baseurl }}">
                {% if post.thumbnail %}
                  <div class="wrap">
                    {% cloudinary thumb {{ post.thumbnail }} alt="{{post.title}}" %}
                  </div>
                </a>
                {% endif %}
                <a href="{{ post.url | prepend: site.baseurl }}">
                  <h4 class="post-title ">{{ post.title }}</h4>
                </a>
                <p class="post-meta">
                  {% if post.text %}
                    {{ post.text }}
                    {% else %}
                      {{ post.summary }}
                  {% endif %}
                </p>              
              </div>
            {% endif %}
          {% endif %}       
        {% endfor %}
        {% if maxRelatedCounter >= maxRelated %}
          {% break %}
        {% endif %}
      {% endfor %}
    </div>

  </section>
{% endif %}



{% if page.js %}
  <script src="/js/processing.min.js" type="text/javascript"></script>
{% endif %}
